<igx-grid [data]="northwindCRUDCategoryDto" primaryKey="categoryId" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
  <igx-column field="categoryId" dataType="number" header="categoryId" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="description" dataType="string" header="description" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="name" dataType="string" header="name" [sortable]="true" [selectable]="false"></igx-column>
</igx-grid>
